{{outlet}}

<h1>Users</h1>

{{#each model as |user|}}
  <div class="well">
    <h4>{{#link-to 'users.edit' user.id}}User: {{user.name}}{{/link-to}}</h4>
    <p>Description {{user.description}}</p>
    <small>{{user.birthdate}}</small>
    <button {{action 'deleteUser' user.id}} class="btn btn-danger"> Delete </button>
  </div>
{{/each}}
